<%= javascript_include_tag '/assets/jquery.pikachoose.js' %>

<label class="text-header">Select your Design</label>
<a href="/portfolio" title="Back to Chose your Event" style="float: right; margin-top: 20px;">Back</a>
<div class="pikachoose">
	<ul id="card-demo" class="jcarousel-skin-pika">
            <%@invitation_designs.each do |design|%>
		<li><a href="/portfolio/customize_your_invitation/<%=design.id%>" title="<%=design.design_title.underscore.humanize%>"><img src="<%=design.screenshot%>"/></a><span><%=design.design_title.underscore.humanize%></span></li>
            <%end%>
	</ul>
</div>

<script type="text/javascript">
    $(document).ready(
        function (){
            $("#card-demo").PikaChoose({carousel:true,carouselOptions:{wrap:'circular'}});
        });
</script>