<div class="event-box">
  <div class="new-event">
      <%=form_for("event", :url => "/portfolio/create") do |f| %>
          <label class="text-header">Lets create a new Event</label>
          <ul class="error-box" style="display: none;">
              <%if flash[:notice]%>
                  <%flash[:notice].each do |field,msg|%>
                      <li><%=field.capitalize%> <%=msg%></li>
                  <%end%>
              <%end%>
          </ul>
          <dl>
              <dt>
                  <%=f.hidden_field :user_id, :value => current_user.id%>
                  <%=f.hidden_field :invitation_id, :value => params[:id]%>
                  <%=f.label :title %>
                  <%=f.text_field :title %>
                  <a href="#" title="Event Title" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <%=f.label :subtitle %>
                  <%=f.text_field :subtitle %>
                  <a href="#" title="Event Subtitle" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <%=f.label "Starts on" %>
                  <%=f.text_field :start_date, :style => "width:162px;"%> Ends On
                  <%=f.text_field :end_date, :style => "width:162px;"%>
                  <a href="#" title="Event Shedule" onmouseover=""> ? </a>
              </dt>

              <dt>
                  <%=f.label :description %>
                  <%=f.text_area :description, :size => "50x8"%>
                  <a href="#" title="Event description" onmouseover=""> ? </a>
              </dt>

              <dt>
                  <%=f.label :bride_info %>
                  <%=f.text_field :bride_info%>
                  <a href="#" title="Bride Name" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <%=f.label :groom_info %>
                  <%=f.text_field :groom_info %>
                  <a href="#" title="Groom Name" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <%=f.label :venue %>
                  <%=f.text_area :venue,:size => "50x5" %>
                  <a href="#" title="Event's venue" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <%=f.label :venue_zip %>
                  <%=f.text_field :venue_zip %>
                  <a href="#" title="Event's venue" onmouseover=""> ? </a>
              </dt>
              <dt>
                  <label>&nbsp;</label>
                  <%= f.submit "Create Event", :class => "create-event" %>
                  <a href="/portfolio" class="form-link">Back</a>
              </dt>
          </dl>

      <% end %>
    </div>

  <div class="preview-box"></div>
</div>