<%@action = [:read, :create, :update, :destroy]%>

<table border="1">
  <tr>
    <th>Module/Role</th>
    <th>Super Admin</th>
    <th>Admin</th>
    <th>Support</th>
    <th>Staff</th>
  </tr>
  <tr>
    <td>User</td>
    <td>
        <%=check_box_tag :user_read, 1%> Read
        <%=check_box_tag :user_create, 2%> Create
        <%=check_box_tag :user_update, 4%> Update
        <%=check_box_tag :user_destroy, 8%> Destroy
    </td>
    <td>
        <%=check_box_tag :user_read, 1%> Read
        <%=check_box_tag :user_create, 2%> Create
        <%=check_box_tag :user_update, 4%> Update
        <%=check_box_tag :user_destroy, 8%> Destroy
    </td>
    <td>
        <%=check_box_tag :user_read, 1%> Read
        <%=check_box_tag :user_create,  2%> Create
        <%=check_box_tag :user_update,  4%> Update
        <%=check_box_tag :user_destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :user_read,  1%> Read
        <%=check_box_tag :user_create,  2%> Create
        <%=check_box_tag :user_update,  4%> Update
        <%=check_box_tag :user_destroy,  8%> Destroy
    </td>
  </tr>
  <tr>
    <td>Event</td>
    <td>
        <%=check_box_tag :event_read,  1%> Read
        <%=check_box_tag :event_create,  2%> Create
        <%=check_box_tag :event_update,  4%> Update
        <%=check_box_tag :event_destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :event_read,  1%> Read
        <%=check_box_tag :event_create,  2%> Create
        <%=check_box_tag :event_update,  4%> Update
        <%=check_box_tag :event_destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :event_read,  1%> Read
        <%=check_box_tag :event_create,  2%> Create
        <%=check_box_tag :event_update,  4%> Update
        <%=check_box_tag :event_destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :event_read,  1%> Read
        <%=check_box_tag :event_create,  2%> Create
        <%=check_box_tag :event_update,  4%> Update
        <%=check_box_tag :event_destroy,  8%> Destroy
    </td>
  </tr>
  <tr>
    <td>Institution</td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
        <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
  </tr>
  <tr>
    <td>Workshop</td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
        <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
    <td>
        <%=check_box_tag :read,  1%> Read
        <%=check_box_tag :create,  2%> Create
        <%=check_box_tag :update,  4%> Update
        <%=check_box_tag :destroy,  8%> Destroy
    </td>
  </tr>
</table>

